footer{
    margin-top:10px;
    padding-top:20px;
    background-color: #fafafa;
    color: #fafafa;
    display:flex;

}

.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}
.left > a > img {
    padding: 0px;

}
.middle{
    width: 40%;
    padding-left: 5%;
}
