.header{
    position: fixed;
    width:100%;
    z-index: 11;
    background-color:red;
    color:white;
    display:flex;
    align-items: center;
}
.logo{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}
.menu{
    width: 40%;
    display: flex;
}
.header-button{
    float: right;
    width: 30%;
    display: inline;

}

.header-button button{
    margin-left: 5%;
}

.speedDial {
    position: fixed;
    right: 3vmax;
    top: 0.5vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }