.companyDetail {

    padding: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.companyDetail img {
    width: 50%;
  }

.submitDialog {
    display:flex;
    flex-direction: column;
}

.submitDialogTextArea {
    border: 1px solid rgba(0, 0, 0, 0.082);
    margin: 1vmax 0;
    outline: none;
    padding: 1rem;
    font: 300 1rem "Roboto";
}