.listing{
  padding-left: 5%;
  padding-right: 5%;
  }
.listing col {
    background-color: black;
  }
  
.titleHolder {
    text-align: center;
    position: relative;
    padding: 0 0 20px;
    margin: 0 0 40px;
  }
  
  .titleHolder:after {
    transform: translateX(-50%);
    content: '';
    background: #1890ff;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 50px;
  }
  
  .titleHolder h2 {
    font-size: 28px;
    margin: 0;
  }

  .container-fluid1 {
    display: flex;
  }

.listing img {
    width: 80%;
  }