.hero-image{
    position: absolute;
    padding: 17% 5%;
    background-image: url("https://ibb.co/vd5rmJJ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}